body > .container{
	position: relative;
}

.flash {
	position: absolute;
	top: 0;
	right: 0;
	width: 500px;
}

blockquote{
	quotes: "«" "»";
}

blockquote > p{
	display: inline-block;
}

blockquote:after, blockquote:before{
	font-weight: 100;
	font-size: 2rem;
}

blockquote:before{
	content: open-quote;
}

blockquote:after{
	content: close-quote;
}