{% extends "layout.html" %}

{% block content %}
<div class="flash">
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-{{ 'primary' if category != 'error' else 'error' }} alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
	{% endif %}
{% endwith %}
</div>
<div class="greetings text-center mt-2">
{% if current_user.is_authenticated %}
	Vous êtes connecté·e avec le compte <a href="https://twitter.com/{{ current_user.name }}">@{{ current_user.name }}</a>!
	<a href="{{ url_for('logout') }}">Déconnexion</a>
{% else %}
	Vous n'êtes pas connecté·e.
	<a href="{{ url_for('twitter.login') }}">Se connecter</a>
{% endif %}
	<div class="mt-2">
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">Où suis-je ?</button>
	</div>
</div>
{% if sleep %}
	Je fais dodo...
{% else %}
	<h1 id="timer" class="mt-2 text-center font-monospace">0:00</h1>	
	{% if current_user.is_authenticated %}
		{% if current_user.is_active %}
		<form>
			<label for="text" class="form-label">Tapez votre message</label>
			<textarea name="text" id="text" rows="3" class="form-control"></textarea>
			<div class="mt-2 d-flex justify-content-between align-items-center">
				<small>140</small>
				<button type="submit" class="btn btn-primary">Tweet</button>
			</div>
		</form>
		{% else %}
		<span class="text-danger">Vous n'êtes plus autorisé·e à participer.</span>
		{% endif %}
	{% endif %}
	<ul id="messages" class="list-group mt-4">
		{% for m in messages %}
			<li class="list-group-item d-flex justify-content-between align-items-center {{ 'upvoted' if m.id in votes }}" data-id="{{ m.id }}">
				<div>
					{% if m.id not in votes %}
						<button class="btn btn-success btn-sm font-monospace fw-bold me-2">&plus;</button>
					{% else %}
						<button class="btn btn-danger btn-sm font-monospace fw-bold me-2">&minus;</button>
					{% endif %}
					{{ m.text }}
				</div>
				<span class="badge bg-primary rounded-pill">{{ m.score }}</span>
			</li>
		{% endfor %}
	</ul>
{% endif %}
<div id="timeline">
	<a class="twitter-timeline" data-dnt="true" data-theme="light" href="https://twitter.com/Agoraxyz?ref_src=twsrc%5Etfw">Tweets by Agoraxyz</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div>
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">C'est quoi Agoraxyz ?</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-justify">
				<p>
					<a href="https://twitter.com/Agoraxyz">@Agoraxyz</a> est un compte Twitter contrôlé par toutes et tous. Votez pour le prochain message qui sera posté sur ce compte ou proposez le votre !
				</p>
				<p>
					Toutes les 15 minutes, le message ayant le plus de votes sera automatiquement posté sur le compte Twitter de <a href="https://twitter.com/Agoraxyz">@Agoraxyz</a>. Faites donc attention à ce que vous écrivez.
				</p>
				<p>
					Il est nécessaire de s'authentifier en utilisant un compte Twitter pour participer, afin de permettre de modérer les messages proposés. L'application n'a qu'un accès en lecture.
					Elle peut uniquement consulter le profil du compte et les tweets postés. Elle ne peut en aucun cas modifier le profil, poster ou supprimer des tweets, like ou retweet d'autres publications.
					Les auteur·rices des messages proposés ne sont pas visibles publiquement. Cependant l'authentification permet aux administrateur·rices et modérateur·rices d'identifier les auteur·rices des messages et d'éventuellement supprimer des messages ou de bannir certains utilisateur·rices si nécessaire.
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename = 'js/index.js') }}"></script>
{% endblock js %}