{% extends "layout.html" %}

{% block content %}
<div class="mt-3">
	{% for m in messages %}
		<div class="card mb-3">
			<div class="card-body">
				<figure class="text-center">
					<blockquote class="blockquote">
						<p>{{ m.text }}</p>	
					</blockquote>
					<figcaption class="blockquote-footer">
						<a href="/admin/users/{{ m.author.name }}">@{{ m.author.name }}</a>
					</figcaption>
				</figure>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}

{% block js %}
{{ super() }}
{% endblock js %}