{% extends "layout.html" %}

{% block content %}
<div class="row mt-4">
	<div class="col-4">
		<div class="list-group" id="list-tab" role="tablist">
			{% for m in messages %}
			<a class="list-group-item list-group-item-action" id="list-{{ m.id }}-list" data-bs-toggle="list" href="#list-{{ m.id }}" role="tab" aria-controls="{{ m.id }}">
				<div class="d-flex justify-content-between">
					<h5 class="mb-1">@{{ m.author.name }}</h5>
					<div>
						<span class="badge bg-dark rounded-pill">{{ m.score }}</span>
					</div>
				</div>
				<p>{{ m.text }}</p>
			</a>
			{% endfor %}
		</div>
	</div>
	<div id="panel" class="col-8">
		<div class="tab-content" id="nav-tabContent">
		{% for m in messages %}
			<div class="tab-pane fade" id="list-{{ m.id }}" role="tabpanel" aria-labelledby="list-{{ m.id }}-list">
				<div class="text-center mb-2">
					<a href="/admin/delete/message/{{ m.id }}" class="btn btn-outline-warning btn-lg">Supprimer</a>
					<a href="/admin/delete/message_ban/{{ m.id }}" class="btn btn-outline-danger btn-lg">Supprimer et bannir l'auteur</a>
					<a href="/admin/delete/messsage_ban_all/{{ m.id }}" class="btn btn-outline-danger btn-lg">Supprimer et bannir tous les votants</a>
				</div>
				<hr>
				<figure class="">
					<blockquote class="blockquote text-center">
						{{ m.text }}
					</blockquote>
					<figcaption class="blockquote-footer text-end">
						<a href="/admin/users/{{ m.author.name }}">@{{ m.author.name }}</a> <span class="badge bg-primary rounded-pill">{{ m.score }}</span>
					</figcaption>
				</figure>
				{% set comma = joiner(", ") %}
				Votants : 
				{% for v in m.votes %}{{ comma() }}<a href="/admin/users/{{ v.name }}">@{{ v.name }}</a>{% endfor %}
			</div>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename = 'js/admin_messages.js') }}"></script>
{% endblock js %}