{% extends "layout.html" %}

{% block content %}
{% if user %}
<div class="text-center mt-2">
	<h1>
		<a href="https://twitter.com/{{ user.name }}">@{{ user.name }}</a>
		{% if user.is_admin %}
			<span class="badge bg-success text-uppercase">admin</span>
		{% elif user.is_moderator %}
			<span class="badge bg-info text-uppercase">modo</span>
		{% endif %}
		{% if not user.is_active %}
			<span class="badge bg-danger text-uppercase">banni·e</span>
		{% endif %}
	</h1>
	{% if user.id == current_user.id %}
		C'est vous !	
	{% else %}
		{% if user.is_active %}
			{% if user.is_admin %}
				{% if current_user.is_admin %}
					<a href="/admin/revoke/{{ user.name }}" class="btn btn-warning">Retirer rôle admin</a>
				{% endif %}
			{% elif user.is_moderator %}
				{% if current_user.is_admin %}
					<a href="/admin/revoke_mod/{{ user.name }}" class="btn btn-warning">Retirer rôle modo</a>
				{% endif %}
			{% else %}
				{% if current_user.is_admin %}
				<a href="/admin/grant/{{ user.name }}" class="btn btn-success">Donner rôle admin</a>
				<a href="/admin/grant_mod/{{ user.name }}" class="btn btn-success">Donner rôle modo</a>
				{% endif %}
				<a href="/admin/ban/{{ user.name }}" class="btn btn-danger">Bannir</a>
			{% endif %}
		{% else %}
			<a href="/admin/unban/{{ user.name }}" class="btn btn-success">Autoriser</a>
		{% endif %}
	{% endif %}
</div>
{% else %}
<div class="list-group mt-2">
	{% for u in users %}
	<a href="/admin/users/{{ u.name }}" class="list-group-item list-group-item-action">
		@{{ u.name }}
		{% if u.is_admin %}
			<span class="badge bg-success text-uppercase">admin</span>
		{% elif u.is_moderator %}
			<span class="badge bg-info text-uppercase">modo</span>
		{% endif %}
		{% if not u.is_active %}
			<span class="badge bg-danger text-uppercase">banni·e</span>
		{% endif %}
	</a>
	{% endfor %}
</div>
{% endif %}
{% endblock %}

{% block script %}
{% endblock %}